@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1>Wypożyczalnia gitar</h1>
    <h3>Chcesz dodać swoją gitarę? Kliknij <a asp-action="AddForm" asp-controller="Guitar">tutaj.</a></h3>
    <h3><a asp-action="List" asp-controller="Guitar">Zobacz dostępne gitary.</a></h3>
</div>
